body {
	/* margin: 0; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.navbar {
	background: transparent;
}

#imagediv > img {
	transition: 0.5s;
}
#imagediv > img:hover {
	opacity: 0.3;
}
.buttons {
	opacity: 0;
	display: none;
}
#imagediv:hover .buttons {
	opacity: 1 !important;
	transition: ease-in-out 0.8s, display 0.8s;
	display: block !important;
}
.imagedisplay {
	height: 375px;
	overflow: hidden;
}

.jumbotron {
	background-image: url("./jumbotronBG.jpg");
	background-size: cover;
}

.nav-item {
	font-family: "Noto Sans JP", sans-serif;
	text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.73);
	font-size: 2rem;
}

.nav-item:hover {
	transform: scale(1.02);
	transition: transform 0.5s;
	/* padding-left: 3px;
	padding-right: 3px; */
}
.navscroll {
	box-shadow: 1px 13px 19px -2px rgba(73, 71, 71, 0.68);
	background: rgb(162, 175, 181);
	background: linear-gradient(
		90deg,
		rgba(162, 175, 181, 1) 1%,
		rgba(219, 213, 207, 1) 44%,
		rgba(200, 195, 192, 1) 92%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
